{% load static %}
<script type="text/javascript" src="{% static 'files/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/modernizr/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/chart.js/dist/Chart.js' %}"></script>
    <!-- <script src="{% static 'files/assets/pages/widget/amchart/amcharts.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/light.js' %}"></script> -->
    <!-- <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script> -->
    <script type="text/javascript" src="{% static 'files/bower_components/modernizr/feature-detects/css-scrollbars.js' %}"></script>
    <script src="{% static 'files/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'files/assets/js/vartical-layout.min.js' %}"></script>
    <script src="{% static 'files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/script.js' %}"></script>
  </body>
</html>